{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Startdate</th>
                <th>Name</th>
                <th>Token</th>
                <th>Isdistributed</th>
                <th>Sharedtoken</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{% if event.startdate %}{{ event.startdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.token }}</td>
                <td>{% if event.isDistributed %}Yes{% else %}No{% endif %}</td>
                <td>{{ event.sharedToken }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('event_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
