{% extends ':layout:layout.html.twig' %}

{% block container %}
<h1>{{ event.name }}</h1>

<table class="table table-striped">

  <tbody>
    <tr>
      <th>Id</th>
      <td>{{ event.id }}</td>
    </tr>
    <tr>
      <th>Startdate</th>
      <td>{% if event.startdate %}{{ event.startdate|date('Y-m-d H:i:s') }}{% endif %}</td>
    </tr>
    <tr>
      <th>Token</th>
      <td>{{ event.token }}</td>
    </tr>
    <tr>
      <th>Isdistributed</th>
      <td>{% if event.isDistributed %}Yes{% else %}No{% endif %}</td>
    </tr>
    <tr>
      <th>Sharedtoken</th>
      <td>{{ event.sharedToken }}</td>
    </tr>
  </tbody>
</table>

<a class="btn btn-default" href="{{ path('perso') }}" role="button">Retour</a>
<a class="btn btn-success" href="{{ path('event_edit', { 'id': event.id }) }}" role="button">Edit</a>


{% endblock %}
